@use 'vars';

.card {
    width: 200px;
    height: 250px;
    border-radius: 16px;
    background-color: vars.$colorBlue;
    box-shadow: 3px 3px 10px;
    padding: 48px 12px 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &__name {
        background-color: vars.$colorRed;
        text-align: center;
        color: vars.$colorWhite;
        width: 140px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
    }

    &__circle {
        background-color: vars.$colorYellow;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 56px;
        left: 24px;

    }

    &__img {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}